# Configurações do servidor
PORT=3000

# Configurações do Redpanda
REDPANDA_HOST=localhost
REDPANDA_PORT=9092

# Autenticação SASL (mecanismo: SCRAM-SHA-256)
REDPANDA_USERNAME=your_username
REDPANDA_PASSWORD=your_password

# Consumer Group
CONSUMER_GROUP=webhook-messages-consumer

# Outras APIs (opcional)
REDPANDA_HTTP_PROXY_PORT=8082
REDPANDA_SCHEMA_REGISTRY_PORT=8081